@charset "UTF-8";

header{
    padding: 0px;
}

header, header > nav{
    flex-flow: column nowrap;
}


header > h1{
    flex-basis: 50px;
    padding-top:20px;
    padding-bottom: 20px;
}

header > nav > a{
    width: 100vw;
    margin: 0;
    border-radius: 0;
    border-top: 1px solid gray;
}


span#burguer{
    display: block;
    width: 100vw;
    padding: 5px;
}

